.github/         @airone01
secrets/         @airone01
lib/             @airone01
packages/        @airone01
modules/         @airone01
shells/          @airone01
hosts/           @airone01

.gitignore                 @airone01
.repomixignore             @airone01
.sops.yaml                 @airone01
LICENSE                    @airone01
README.md                  @airone01
flake.nix                  @airone01
justfile                   @airone01
release-please-config.json @airone01
repomix.config.json        @airone01

