$background: #1a1b26;
$foreground: #a9b1d6;
$border: #2e2e2e;

$black: #24283b;
$gray: #565f89;
$red: #f7768e;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $foreground;

// Global
* {
  all: unset;
  border-color: $border;
  border-style: solid;
  border-radius: 200rem;
  padding: 0;
}

// EWW BAR
.eww_bar {
  background-color: $background;
  border-width: 2px;
  padding: 0.2rem;
  margin: 1.4rem;
}

.genicon {
  background-repeat: no-repeat;
  background-size: 30px;
  min-height: 20px;
  min-width: 20px;
}

.icon_wifi {
  background-image: url("./mingcute--wifi-line.png");
  background-position: center;
}

.btn_wifi {
  font-size: 1.3rem;
  padding-right: 9px;
}
