name: release-please

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Generate GitHub app token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Enable auto-merge
        if: ${{ steps.release.outputs.pr }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_JSON: ${{ steps.release.outputs.pr }}
        run: |
          PR_NUMBER=$(echo "$PR_JSON" | jq -r .number)
          echo "Targeting PR #$PR_NUMBER"
          gh pr merge $PR_NUMBER \
            --repo ${{ github.repository }} \
            --auto --squash
